$backgroup-color: #ffffff;
$color-bar: #7815ff;
$color-list: #5e11ca;
$color-font: #000000;
$color-button: #6b00cf07;
$color-border: #3a0585;
$size-border: 3px;

.centerElement {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: $backgroup-color;

  .bar {
    background-color: $color-bar;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .title {
      color: $color-font;
      min-width: 200px;
    }

    .inputText {
      color: $color-font;
      background-color: $backgroup-color;
      border: none;
    }
  }

  .secondContainer {
    width: 100vw;
    height: 90vh;
    padding-top: 10px;
    display: flex;

    .list {
      width: 28%;
      min-width: 220px;
      height: 100%;
      background-color: $color-bar;
      overflow-y: scroll ;
      display: flex;
      flex-direction: column;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);

      
      
      .btn {
        width: 90%;
        min-width: 30%;
        height: 70px;
        border: none;
        border-bottom: $size-border solid $color-border;
        border-left: $size-border solid $color-border;
        border-radius: 12px;
        display: flex;
        align-items: center;
        margin: 10px;
        background-color: $color-button;
        cursor: pointer;

        img {
          height: 120px;
          
        }

        .name {
          color: $color-font;
          width: 80%;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          
        }

      }

      .btn:hover {
        translate: 20px;
        transition: all .3s;
        border:#3a0585 solid 3px;
        background-color: $color-list;
        box-shadow: 3px 3px 20px rgba(43, 0, 100, 0.493);
        
      }
      
    }

    .containerCard {
      width: 72%;
      height: 100%;
      @extend .centerElement;
      min-width: 320px;
      
      .containerBackgroup {
        background: url(../../public/pokemon-1513925.jpg) no-repeat;
        background-size: contain;
        width: 60%;
        min-width: 290px;
        height: 90%;
      }

      .card {
        background-color: #000000;
      }
    }
  }
}
